**/*.rs.bk
*.db
*.info
*.log
*.njsproj
*.ntvs*
*.sln
*.sqlite
*.suo
*.sw?
*.swo
*.swp
*.tsbuildinfo
.DS_Store
.attractor/
.beads/
.cache/
.cargo/
.devenv*
.direnv
.env
.env.*.local
.env.local
.idea
.idea/
.moon/cache
.moon/docker
.serena/
.symphony_workspaces/
.tmp/
.vscode/
Thumbs.db
abc/
dev-debug.log
devenv.local.nix
devenv.local.nix
log/*
logs
node_modules/
npm-debug.log*
outcome.json
target/
yarn-debug.log*
yarn-error.log*
